services:
  app_api:
    container_name: app_api
    image: app_api
    restart: always
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8100:8080"
    mem_limit: 1g
    cpus: "2.0"
    dns:
      - 8.8.8.8
      - 1.1.1.1
      - 10.177.195.1
      - 213.186.33.99
